<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>
            LONGTERM
        </title>
    </head>
    <body>
    <div>
        <h1 id="longterm">
            LONGTERM
        </h1>


        <p>
            <h3>
                A <em>virtual</em> trading platform for <em>longterm</em> investing
            </h3>
            
        </p>
    </div>
    
    <form action="app.py" method="post">
        <P><h2>Buy Stock:</h2></P>
        <input type ="text" name = "stock name"placeholder="input stock name" >
        <input type ="text" name="amount buy" placeholder="amount to buy" >
        <br>
        <br>
        <P><h2>Sell Stock:</h2></P>
        <input type ="text" name="stock name" placeholder="input stock name" >
        <input type ="text" name="amount sell" placeholder="amount to sell" >
        <br>
        <br>
        <br>

        
        <textarea rows="5" cols="20" placeholder="Why are you buying or selling this stock"></textarea>

        <br>
        <br>
        <br>
        <input type ="submit" value="Submit" >

    </form>
    </body>
</html>
