<!DOCTYPE html>
<html>
    <head>
        <title>
            Indian Stock Simulator
        </title>
        <link rel = "stylesheet" href = "style.css">
    </head>
    <body>
        <h1>
            Virtual Trade
        </h1>

        
<form action="contactus.php" method="post">

    <p>Name:</p>
    <p><input type="text" name="name" value="Your name"></p>

    <p>Portfolio name:</p>
    <p><input ></p>
    <!-- remember: 'type="text"' isn't actually necessary -->

    <p>Buy Stock:</p>
    <p><input> </p>
    <p>Amount:</p>
    <p><input> </p>

    <p>Sell Stock:</p>
    <p><input> </p>
    <p>Amount:</p>
    <p><input> </p>

    <p>Exchange:</p>
    <p><input type="radio" name="exchange" value="BSE"> BSE</p>
    <p><input type="radio" name="exchange" value="NSE"> NSE</p>
    <p><input type="submit"></p>

</form>

    </body>
</html>