<!DOCTYPE html>
<html>
    <head>
        <title>
            Indian Stock Simulator
        </title>
        <link rel = "stylesheet" href = "style.css">
    </head>
    <body>
        <h1>
            Virtual Trade
        </h1>

        
<form action="contactus.php" method="post">

    <p>Name:</p>
    <p><input></p>

    <p>Portfolio name:</p>
    <p><input ></p>
    <!-- remember: 'type="text"' isn't actually necessary -->

    <p>Exchange:</p>
    <p><input type="radio" name="exchange" value="BSE"> BSE</p>
    <p><input type="radio" name="exchange" value="NSE"> NSE</p>
    

    <div class="name">
        <label for="First_Name">Buy stock:</label>
        <input name="first_name" id="First_Name" type="text" />

        <label for="Name">amount:</label>
        <input name="last_name" id="Last_Name" type="text" /> 
    </div>
    <p>

    </p>
    <div class="name">
        <label for="First_Name">Sell stock:</label>
        <input name="first_name" id="First_Name" type="text" />

        <label for="Name">amount:</label>
        <input name="last_name" id="Last_Name" type="text" /> 
    </div>


    <p><input type="submit"></p>

    

</form>

    </body>
</html>